.home {
  header {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #3C3D3E;
    .menu {

      li:not(:first-child):not(:last-child) a {
        margin-right: 3px;
      }

      li a {
        color: #FFFFFF;
        background-color: #000001;
      }

      li.active a {
        color: #3E2C30;
        background-color: #00ACA4;
      }
    }

    .join {

      display: flex;

      margin-bottom: 30px;

      a.button {
        color: #262A3D;
        background-color: #F1CA22;
        margin-bottom: 0;
      }

      .icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 5px;
      }

      input {
        color: #565758;
        padding: 5px;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #464748;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #464748;
          opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #464748;
          opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    #464748;
        }
      }

    }


  }

  .content {
    min-height: 100vh;
    background-color: #78D7D4;
    img.main_image {
      width: 100%;
    }
    .first_content {
      background-color: #76267B;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;

      h3 {
        color: #FEFEFF;
        -webkit-text-stroke-width: 2.5px;
      }

      p {
        color: #FEFEFF;
        font-size: 1.5rem;
      }
    }

    .second_content {
      height: 600px;
      padding: 40px 50px;
      background-color: #FEFFFF;

      .left_part {
        margin-top: 30px;
        display: inline-block;
        width: 45%;

        h4 {
          color: #414142;
        }

        p {
          color: #727374;
        }

        a.button {
          background-color: #3C3D3E;
          color: #F8F9F9;
        }
      }
    }

    .third_content {
      padding: 50px 50px;
      background-color: #EAEBEC;
      display: flex;

      .links {
        width: 48%;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a.button {
          display: flex;
          background-color: #EAEBEC;
          padding: 0;
          position: relative;
          img {
            float: left;
          }
          span {
            position: absolute;
            top: 48%;
            left: 28%;
          }
        }

        a.mission {
          margin-bottom: 0;
        }
      }
    }

    .fourth_content {
      background-color: #F1CA22;
      padding-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        border-radius: 50%;
      }
      .donate_content {
        margin-left: 30px;
        display: inline-block;
        width: 45%;

        a.button {
          color: #232426;
          background-color: #FEFFFF;
          font-weight: 900;
        }
      }

    }

    .empty {
      height: 90px;
      background-color: #FEFFFF;
    }
  }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3C3D3E;
    .container {
      display: flex;
    }
    .footer-links {
      padding-left: 50px;
      display: inline-block;
      width: 30%;
      a {
        display: block;
        color: #E4E5E6;
        font-size: 0.9rem;
        &.active {
          color: #237A75;
        }

      }
    }

    h4 {
      color: #FFFFFF;
    }
    p {
      color: #6F7071;
      font-size: 0.8rem;
    }

    .news {
      width: 22%;
      display: inline-block;
      .title {
        color: #237A75;
        margin-bottom: 0;
      }

    }

    .update {
      width: 25%;
      display: inline-block;
      input {
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #D2D3D5;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #D2D3D5;
          opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #D2D3D5;
          opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    #D2D3D5;
        }
      }
      a.button {
        border-color: #A7A8A9;
        background-color: #3C3D3E;
      }
    }

    .social{
      width: 15%;
      margin-left: 5%;
      display: inline-block;
      img {
        margin-right: 10px;
      }

      .footer-logo {
        margin-top: 10px;
      }
    }
  }

  .copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

}