body, button, .button, .top-bar-section ul li > a, .side-nav, .side-nav li.active > a:first-child:not(.button) {
  font-family: "Raleway", "PingFang HK", "Microsoft YaHei", sans-serif; }

.home header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #3C3D3E; }
  .home header .menu li:not(:first-child):not(:last-child) a {
    margin-right: 3px; }
  .home header .menu li a {
    font-size: 20px;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    line-height: 1;
    background-color: #000001; }
  .home header .menu li.active a {
    color: #3E2C30;
    background-color: #00ACA4; }
  .home header .join {
    display: flex;
    margin-bottom: 30px; }
    .home header .join a.button {
      background-color: #F1CA22;
      margin-bottom: 0;
      font-size: 18px;
      font-family: "Raleway";
      color: #464646;
      font-weight: bold;
      line-height: 1.611;
      text-align: right;
      z-index: 15; }
    .home header .join .icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 5px; }
    .home header .join input {
      color: #565758;
      padding: 5px;
      font-family: "Raleway";
      color: #464646;
      font-weight: bold;
      line-height: 1.611;
      text-align: center; }
      .home header .join input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #464646; }
      .home header .join input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #464646;
        opacity: 1; }
      .home header .join input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #464646;
        opacity: 1; }
      .home header .join input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #464646; }

.home .content {
  min-height: 100vh;
  background-color: #78D7D4; }
  .home .content img.main_image {
    width: 100%; }
  .home .content .first_content {
    background-color: #76267B;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; }
    .home .content .first_content h3 {
      color: #FEFEFF;
      -webkit-text-stroke-width: 2.5px; }
    .home .content .first_content p {
      color: #FEFEFF;
      font-size: 1.5rem; }
  .home .content .second_content {
    height: 600px;
    padding: 40px 50px;
    background-color: #FEFFFF; }
    .home .content .second_content .left_part {
      margin-top: 30px;
      display: inline-block;
      width: 45%; }
      .home .content .second_content .left_part h4 {
        color: #414142; }
      .home .content .second_content .left_part p {
        color: #727374; }
      .home .content .second_content .left_part a.button {
        background-color: #3C3D3E;
        color: #F8F9F9; }
  .home .content .third_content {
    padding: 50px 50px;
    background-color: #EAEBEC;
    display: flex; }
    .home .content .third_content > img {
      height: 399px; }
    .home .content .third_content .links {
      width: 48%;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .home .content .third_content .links a.button {
        display: flex;
        background-color: #EAEBEC;
        padding: 0;
        position: relative; }
        .home .content .third_content .links a.button img {
          float: left; }
        .home .content .third_content .links a.button span {
          position: absolute;
          top: 48%;
          left: 28%; }
      .home .content .third_content .links a.mission {
        margin-bottom: 0; }
  .home .content .fourth_content {
    background-color: #F1CA22;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .home .content .fourth_content img {
      border-radius: 50%; }
    .home .content .fourth_content .donate_content {
      margin-left: 30px;
      display: inline-block;
      width: 45%; }
      .home .content .fourth_content .donate_content a.button {
        color: #232426;
        background-color: #FEFFFF;
        font-weight: 900; }
  .home .content .empty {
    height: 90px;
    background-color: #FEFFFF; }

.home .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.home footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3C3D3E; }
  .home footer .container {
    display: flex; }
  .home footer .footer-links {
    padding-left: 50px;
    display: inline-block;
    width: 30%; }
    .home footer .footer-links a {
      display: block;
      color: #E4E5E6;
      font-size: 0.9rem; }
      .home footer .footer-links a.active {
        color: #237A75; }
  .home footer h4 {
    color: #FFFFFF; }
  .home footer p {
    color: #6F7071;
    font-size: 0.8rem; }
  .home footer .news {
    width: 22%;
    display: inline-block; }
    .home footer .news .title {
      color: #237A75;
      margin-bottom: 0; }
  .home footer .update {
    width: 25%;
    display: inline-block; }
    .home footer .update input {
      padding: 5px;
      margin-bottom: 10px;
      width: 100%; }
      .home footer .update input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #D2D3D5; }
      .home footer .update input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #D2D3D5;
        opacity: 1; }
      .home footer .update input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #D2D3D5;
        opacity: 1; }
      .home footer .update input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #D2D3D5; }
    .home footer .update a.button {
      border-color: #A7A8A9;
      background-color: #3C3D3E; }
  .home footer .social {
    width: 15%;
    margin-left: 5%;
    display: inline-block; }
    .home footer .social img {
      margin-right: 10px; }
    .home footer .social .footer-logo {
      margin-top: 10px; }

.home .copyright {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }
